h1, h2, h3 {
  color: red;
}

.container :where(h1,h2,h3) {
  color: green;
}

:is(.header) a {
  color: pink;
}

div:is(.cool, .fun) {
  color: red;
}

.button {
  border: none;
  border-radius: 4px;
  background: grey;
  color: white;
  padding: 10px 20px;
  cursor: pointer;

  &:where(.action-button) {
    background: blue;
  }

  &:where(.clipboard-button) {
    background: green;
  }
}

.section > :is(.button) {
  background: pink;
}