.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;

  * {
    padding: 20px;
  }
}

.header {
  border: 1px solid black;
  grid-column: 1/4;
  grid-row: 1;
  margin-bottom: 40px;
  min-height: 100px;
}

.left-navigation {
  border: 1px solid black;
  grid-row: 2;
}

.main {
  border: 1px solid black;
  grid-row: 2;
}

.aside {
  border: 1px solid black;
  grid-row: 2;
}

.footer {
  border: 1px solid black;
  grid-column: 1/4;
  grid-row: 3;
}
