html {
  font-size: 62.5%;
}

body {
  font: 1.6rem Arial;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  margin: 0 3%;
  width: 94%;
  max-width: 1200px;
}

.block1, .block2, .block3 {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1114px;
  text-align: center;
  color: #fff;
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .block1, .block2, .block3 {
    animation: none;
    -webkit-animation: none;
  }
}

.block img {
  position: relative;
}

.block-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.show {
  display: block;
  opacity: 1;
}

h1 {
  font-size: 52px;
}

.cat-tags, .summary {
  padding-top: 18px;
  font-size: 11px;
}

.read-more {
  padding: 5px 10px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
}

.read-more:hover {
  background-color: #fff;
}

.slide-first {
  animation: slideout 3s;
}


@keyframes slidein {
  from {
    margin-left: 2400px;
  }

  to {
    margin-left: 0;
  }
}

.slide-first {
  animation-duration: 1s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 1200px;
  }

  to {
    margin-left: 0;
  }
}